{% extends 'base.html' %}

{% block head %}
  <title>Grant Stenger</title>
{% endblock %}

{% block body %}
  <div class="topnav">
    <div class="topnav-row">
      <div class="nav-left">
        <a href="{{ url_for('index') }}">Home</a> &nbsp;
        <b><a href="{{ url_for('about') }}">About</a></b> &nbsp;
        <a href="{{ url_for('lists') }}">Lists</a>
      </div>
      <div class="nav-center"></div>
      <div class="nav-right">
        <a href='https://twitter.com/grant_stenger'>Twitter</a> |
        <a href='https://github.com/gstenger98'>GitHub</a> |
        <a href='https://www.goodreads.com/grant-stenger'>Goodreads</a> |
        <a href='https://www.linkedin.com/in/grant-stenger/'>LinkedIn</a> |
        <a href='https://www.instagram.com/grant.stenger/'>Instagram</a>
      </div>
    </div>
  </div>
  <div class="center">
    <h1>About Me</h1>
    <p>I'm currently a senior at USC studying Computer Science and Applied Math.</p>
    <p>I like blah.</p>
    <!-- <p>I like to make lists, rock climb, slackline, ski, travel, skate, draw, dance, grapple, write code, and play with animals.</p>
    <p>I like also enjoy Audible, machine learning, quant finance, primatology, albums, poker, physics, and genetics.</p> -->
    <!-- <p>I also like to slackline, ski, travel, skate, rock climb, draw, dance, write code, and make lists.</p> -->
    <!-- <p><a href='{{ url_for('lists') }}'>~check out some more lists here~</a></p> -->
    <p><a href='{{ url_for('lists') }}'>~lists~</a></p>
  </div>
{% endblock %}
