{% extends 'base.html' %}

{% block head %}
  <title>Grant Stenger</title>
{% endblock %}

{% block body %}
  <div class="topnav">
    <div class="topnav-row">
      <div class="nav-left">
        <b><a href="{{ url_for('index') }}">Home</a></b> &nbsp;
        <a href="{{ url_for('about') }}">About</a> &nbsp;
        <a href="{{ url_for('lists') }}">Lists</a>
      </div>
      <div class="nav-center"></div>
      <div class="nav-right">
        <a href='https://twitter.com/grant_stenger'>Twitter</a> |
        <a href='https://github.com/gstenger98'>GitHub</a> |
        <a href='https://www.goodreads.com/grant-stenger'>Goodreads</a> |
        <a href='https://www.linkedin.com/in/grant-stenger/'>LinkedIn</a> |
        <a href='https://www.instagram.com/grant.stenger/'>Instagram</a>
      </div>
    </div>
  </div>
  <div class="center">
    <h1>Hi, I'm Grant.</h1>
    <p>Welcome to my site!</p>
  </div>
{% endblock %}
