{% extends 'base.html' %}

{% block head %}
  <title>Gifts</title>
{% endblock %}

{% block body %}
  <div class="topnav">
    <div class="topnav-row">
      <div class="nav-left">
        <a href="{{ url_for('index') }}">Home</a> &nbsp;
        <a href="{{ url_for('about') }}">About</a></b> &nbsp;
        <b><a href="{{ url_for('lists') }}">Lists</a></b>
      </div>
      <div class="nav-center"></div>
      <div class="nav-right">
        <a href='https://twitter.com/grant_stenger'>Twitter</a> |
        <a href='https://github.com/gstenger98'>GitHub</a> |
        <a href='https://www.goodreads.com/grant-stenger'>Goodreads</a> |
        <a href='https://www.linkedin.com/in/grant-stenger/'>LinkedIn</a> |
        <a href='https://www.instagram.com/grant.stenger/'>Instagram</a>
      </div>
    </div>
  </div>
  <h2>Interesting Gifts Ideas for Grant</h2>

  <h4>Not Books</h4>
  <ul>
    <li><a href='https://www.amscope.com/stereo-microscopes/7x-45x-stereo-binocular-microscope-with-14-pillar-stand-64-led-ring-light.html'>Binocular Stereo Microscope</a></li>
    <li><a href='https://www.apple.com/shop/buy-ipad/ipad-pro'>iPad</a> for notes and paper reading</li>
    <li>Equity in <a href='https://recurrency.ai/'>Recurrency</a> (talk to <a href='mailto:sam@recurrency.ai'>Sam</a>)</li>
    <li><a href='https://www.coinbase.com/'>Bitcoin</a> (<a href='https://coinmarketcap.com/'>or your favorite cryptocurrency</a>)</li>
    <li><a href='https://ouraring.com/'>Oura Ring</a></li>
    <li>Physical Gold</li>
    <li>Land / Real Estate</li>
  </ul>

  <h4>Books</h4>
  <ul>
    <li><a href='https://www.amazon.com/Elements-Statistical-Learning-Prediction-Statistics/dp/0387848576'>The Elements of Statistical Learning</a>, Jerome H. Friedman, Robert Tibshirani, and Trevor Hastie (2001)</li>
    <li><a href='https://www.amazon.com/Probabilistic-Reasoning-Intelligent-Systems-Representation/dp/1558604790'>Probabilistic Reasoning in Intelligent Systems: Networks of Plausible Inference</a>, Judea Pearl (1988)</li>
    <li><a href='https://www.amazon.com/Principles-Quantum-Mechanics-International-Monographs/dp/0198520115'>The Principles of Quantum Mechanics</a>, Paul Dirac (1930)</li>
    <li><a href='https://www.amazon.com/Mathematical-Foundations-Quantum-Mechanics-Neumann/dp/0691028931'>Mathematical Foundations of Quantum Mechanics</a>, John Von Neumann (1955)</li>
    <li><a href='https://www.amazon.com/Monetary-History-United-States-1867-1960/dp/0691003548'>A Monetary History of the United States, 1867-1960</a>, Milton Friedman (1963)</li>
    <li><a href='https://www.amazon.com/Meditations-Marcus-Aurelius/dp/0812968255/'>Meditations</a>, Marcus Aurelius (161)</li>
    <li><a href='https://www.amazon.com/Road-Reality-Complete-Guide-Universe/dp/0679776311'>The Road to Reality: A Complete Guide to the Laws of the Universe</a>, Roger Penrose (2004)</li>
    <li><a href='https://www.amazon.com/Barbarians-Gate-Fall-RJR-Nabisco-ebook/dp/B000FC10QG'>Barbarians at the Gate: The Fall of RJR Nabisco</a>, Bryan Burrough (1989)</li>
    <li><a href='https://www.amazon.com/History-Economic-Theory-Contributions-1720-1980/dp/0801849764'>A History of Economic Theory: Classic Contributions, 1720-1980</a>, Jürg Niehans (1994)</li>
    <li><a href='https://www.amazon.com/Reinforcement-Learning-Introduction-Adaptive-Computation/dp/0262193981'>Reinforcement Learning: An Introduction</a>, Andrew Barto and Richard S. Sutton (1992)</li>
    <li><a href='https://www.amazon.com/Origin-Species-150th-Anniversary/dp/0451529065'>On the Origin of Species</a>, Charles Darwin (1896)</li>
    <li><a href='https://www.amazon.com/Energy-Civilization-History-MIT-Press/dp/0262035774'>Energy and Civilization: A History</a>, Vaclav Smil (2017)</li>
    <li><a href='https://www.amazon.com/Hackers-Painters-Big-Ideas-Computer/dp/1449389554'>Hackers & Painters</a>, Paul Graham (2004)</li>
    <li><a href='https://www.amazon.com/Feynman-Lectures-Physics-boxed-set/dp/0465023827'>The Feynman Lectures on Physics</a>, Richard P. Feynman (1963)</li>
    <li><a href='https://www.amazon.com/Double-Helix-Personal-Discovery-Structure/dp/074321630X'>The Double Helix: A Personal Account of the Discovery of the Structure of DNA</a>, James Watson (1968)</li>
    <li><a href='https://www.amazon.com/Elements-Information-Theory-Telecommunications-Processing/dp/0471241954'>Elements of Information Theory</a>, Thomas M. Cover and Joy A. Thomas (1991)</li>
    <li><a href='https://www.amazon.com/Introduction-Political-Philosophy-Culture-Modernity/dp/0814319025'>An Introduction to Political Philosophy: Ten Essays</a>, Leo Strauss (1989)</li>
    <li><a href='https://www.amazon.com/Capitalism-America-History-Alan-Greenspan/dp/0735222444'>Capitalism in America: A History</a>, Alan Greenspan (2018)</li>
    <li><a href='https://www.amazon.com/Artificial-Intelligence-Modern-Approach-3rd-dp-0136042597/dp/0136042597/'>Artificial Intelligence: A Modern Approach</a>, Peter Norvig and Stuart J. Russell (1994)</li>
    <li><a href='https://www.amazon.com/General-Theory-Employment-Interest-Money/dp/965006026X/'>The General Theory of Employment, Interest and Money</a>, John Maynard Keynes (1936)</li>
    <li><a href='https://www.amazon.com/Statistical-Consequences-Fat-Tails-Preasymptotics/dp/1544508050'>Statistical Consequences of Fat Tails: Real World Preasymptotics, Epistemology, and Applications</a>, Nassim Taleb (2020)</li>
    <li><a href='https://www.amazon.com/Concept-Political-Expanded-Carl-Schmitt/dp/0226738922'>The Concept of the Political</a>, Carl Schmitt (1932)</li>
    <li><a href='https://www.amazon.com/Rules-Direction-Mind-Rene-Descartes/dp/0672603349'>Rules for the Direction of the Mind</a>, Rene Descartes (1684)</li>
    <li><a href='https://www.amazon.com/Chimpanzee-Politics-Power-among-Apes/dp/0801886562'>Chimpanzee Politics: Power and Sex Among Apes</a>, Frans de Waal (1982)</li>
    <li><a href='https://www.amazon.com/Expected-Returns-Investors-Harvesting-Rewards/dp/1119990726'>Expected Returns: An Investor's Guide to Harvesting Market Rewards</a>, Antti Ilmanen (2011)</li>
    <li><a href='https://www.amazon.com/Portfolio-Selection-Diversification-Investments-Foundation/dp/0300013728'>Portfolio Selection: Efficient Diversification of Investments</a>, Harry Markowitz (1952)</li>
    <li><a href='https://www.amazon.com/Insect-Societies-Harvard-Paperbacks/dp/0674454952/'>The Insect Societies</a>, Edward O. Wilson (1971)</li>
    <li><a href='https://www.amazon.com/Thermodynamics-Enrico-Fermi/dp/808783061X'>Thermodynamics</a>, Enrico Fermi (1937)</li>
    <li><a href='https://www.amazon.com/Foundations-Economic-Analysis-Enlarged-Harvard/dp/0674313038/'>Foundations of Economic Analysis</a>, Paul A. Samuelson (1947)</li>
    <li><a href='https://www.amazon.com/Conflict-Visions-Ideological-Political-Struggles/dp/0465002056'>A Conflict of Visions: Ideological Origins of Political Struggles</a>, Thomas Sowell (1987)</li>
    <li><a href='https://www.amazon.com/What-Life-Autobiographical-Sketches-Classics/dp/1107604664/'>What Is Life? The Physical Aspect of the Living Cell</a>, Erwin Schrödinger (1944)</li>
    <li><a href='https://www.amazon.com/Descent-Man-Charles-Darwin/dp/1503305902'>The Descent of Man, and Selection in Relation to Sex</a>, Charles Darwin (1871)</li>
    <li><a href='https://www.amazon.com/Spacetime-Geometry-Introduction-General-Relativity/dp/0805387323'>Spacetime and Geometry: An Introduction to General Relativity</a>, Sean M. Carroll (2003)</li>
    <li><a href='https://www.amazon.com/Theory-Games-Economic-Behavior-Commemorative/dp/0691130612'>Theory of Games and Economic Behavior</a>, John von Neumann (1944)</li>
  </ul>

{% endblock %}
