{% extends 'base.html' %}

{% block head %}
  <title>NFTs</title>
{% endblock %}

{% block body %}
  <div class="topnav">
    <div class="topnav-row">
      <div class="nav-left">
        <a href="{{ url_for('index') }}">Home</a> &nbsp;
        <a href="{{ url_for('about') }}">About</a></b> &nbsp;
        <b><a href="{{ url_for('lists') }}">Lists</a></b>
      </div>
      <div class="nav-center"></div>
      <div class="nav-right">
        <a href='https://twitter.com/grant_stenger'>Twitter</a> |
        <a href='https://github.com/gstenger98'>GitHub</a> |
        <a href='https://www.goodreads.com/grant-stenger'>Goodreads</a> |
        <a href='https://www.linkedin.com/in/grant-stenger/'>LinkedIn</a> |
        <a href='https://www.instagram.com/grant.stenger/'>Instagram</a>
      </div>
    </div>
  </div>

  <h2>My NFTs</h2>
  <ul>
    <li>Deep Dream</li>
    <li>Bayesian</li>
  </ul>

{% endblock %}
